@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color:#f4f4f4;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

#clock {
    text-align: center;
    font-size: 40px;
    font-family: inherit;

}

.app {
    width: 30%;
    margin: 0.25vh auto;
    /* border: 2px solid #999999; */
    border-radius: 5px;
    padding:10px 30px;
    box-shadow: 0px 20px 30px rgba(116,116,116.015);
    /* position: absolute; */
    top: 50%;
}

.app h1, .alarm h2 {
    text-align: center;
    letter-spacing: 0.4rem;
}

.buttonrow {
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* .timebutton {
    display: inline;
} */

.alarm {
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 5px;
    
}

#selectionHolder {
    align-items: center;
    justify-content: center;
    display: flex;
}


#buttonHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timebutton, .soundbutton {
    text-align: center;
    border: 1px solid rosybrown;
    border-radius: 6px;
    padding:10px 15px;
    cursor: pointer;
}

.timebutton {
    width: 45%;
    margin: 5px;
    
}

.active {
    border: 3px solid royalblue;
}

.timebutton.active {
    border: 3px solid rosybrown;
}